.rcl-notice__text .frnd_actions_bttn {
    display: inline-flex;
    padding: 0 6px 0 0;
}
:not(.cab_bttn_lite) > #tab-button-friends > a {
    display: inline-flex;
}
:not(.cab_bttn_lite) > #tab-button-friends i {
    flex-shrink: 0;
}
:not(.cab_bttn_lite) > #tab-button-friends > a > span {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 8px;
    width: 100%;
}