.userlist.frnd-ava-list .user-single {
    float: left;
    margin: 6px .5%;
    min-width: 160px;
    padding: 6px;
    width: 13%;
}
.userlist.frnd-ava-list .user-single:hover {
    box-shadow: 0 0 2px 2px #ccc;
}
.userlist.frnd-ava-list .thumb-user {
    width:100%
}
.frnd-ava-list .frnd_delete {
    font-size: 13px !important;
    margin: 3px 0 0 !important;
    width: 100%;
}
@media screen and (max-width:480px) {
    .userlist.frnd-ava-list .user-single {
        padding: 1%;
        width: 19%;
    }
}
@media screen and (max-width:375px) {
    .userlist.frnd-ava-list .user-single {
        width: 24%;
    }
}