.userlist.frnd-mini-card-list .user-single {
    border: 1px solid #ddd;
    box-shadow: none;
    float: left;
    margin: 6px .5%;
    min-width: 160px;
    padding: 6px;
    transition: all .3s ease-out;
    width: 13%;
}
.userlist.frnd-mini-card-list .user-single:hover {
    border-color: var(--rclHex);
    box-shadow: 6px 6px 12px -6px #aaa;
}
.userlist.frnd-mini-card-list .thumb-user a,
.userlist.frnd-mini-card-list .thumb-user {
    width:100%
}
.frnd_bottom {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 3px 3px;
    width: 100%;
}
.frnd_bottom > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.frnd_bottom + .frnd_actions_bttn {
    margin: 6px 0 0 !important;
    font-size: 13px !important;
    justify-content: center;
    width: 100%;
}
.frnd-mini-card-list .frnd_actions_bttn:not(.rcl-bttn__loading)::before {
    width: 45%;
    content: "";
    position: absolute;
    top: -6px;
    height: 1px;
    transition: all .5s ease;
}
.frnd-mini-card-list .user-single:hover .frnd_actions_bttn:not(.rcl-bttn__loading)::before {
    background: red;
    width: 100%;
}
@media screen and (max-width:480px) {
    .userlist.frnd-mini-card-list .user-single {
        width: 49%;
    }
}
