.frnd_auth_title {
    margin: 0 0 12px;
}

.frnd_title {
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0 0;
}

.frnd_mess {
    box-shadow: 9px 9px 12px -6px rgba(0, 0, 0, .2);
    display: inline-block;
    min-width: 250px;
}

.frnd_mess .rcl-notice__text {
    margin: 0 0 0 18px;
}

.office-webx #tab-button-friends span span {
    padding-left: 6px;
}

/*modal*/
.frnd_modal div.submit-box {
    background: none;
    overflow: visible;
    padding: 7px 0 0;
}

.frnd_modal div.submit-box .rcl-bttn {
    margin: 0;
}

#rcl-field-frnd_smls {
    margin: 12px 0 0 0;
}

#rcl-field-frnd_smls .rcl-smiles {
    justify-content: flex-start;
}

#rcl-field-frnd_smls .fa-smile-o {
    font-size: 30px;
}

#rcl-field-frnd_smls .smiles {
    height: 140px;
    min-width: 280px;
}

.frnd_modal .rcl-field-input textarea:focus {
    border-color: #9ed0e1 !important;
}
