.frnd_link {
    cursor: pointer;
}
.frnd_disabled {
    pointer-events: none;
    text-decoration: line-through;
}
#frnd_mess_box > div {
    background-color: #fff;
    border-left: 3px solid orange;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1), 9px 9px 12px -6px rgba(0, 0, 0, 0.2);
    color: #8f0000;
    display: inline-block;
    line-height: normal;
    margin: 12px 6px;
    padding: 6px 12px;
}
.frnd_title {
    color: #2e8b57;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px;
}
.userlist.rows-list .userlist_cntr .user-content-rcl .frnd_pending,
.userlist.rows-list .userlist_cntr .user-content-rcl .frnd_actions_bttn {
    display: inline-flex;
    padding: 0 6px 0 0;
}
.frnd_pending .recall-button.frnd_disabled {
    pointer-events: none;
    background-color: #b8860b;
}

/*modal*/
.frnd_modal #ssi-modalWindow {
    border-radius: 2px;
}
.frnd_modal #ssi-modalTitle {
    border-bottom-color: transparent;
    padding: 12px 18px;
}
.frnd_modal .ssi-topIcons {
    top: 4px;
}
.frnd_modal .ssi-closeIcon::before {
    content: "×";
    font-size: 46px;
    color: #d41111;
    opacity: .6;
}
.frnd_modal .ssi-closeIcon:hover::before {
    opacity: 1;
}
.frnd_modal .ssi-closeIcon::after {
    content: "";
    display: none;
}
.frnd_modal .ssi-modalContent {
    padding: 6px 12px 0;
}
.frnd_modal div.submit-box {
    background-color: transparent;
    padding: 0;
    width: 100%;
}
#field-frnd_smls {
    margin-top: -6px;
}
#field-frnd_smls .rcl-smiles {
    justify-content: flex-start;
}
#field-frnd_smls .smiles {
    height: 162px;
}
.frnd_modal .rcl-field-input textarea:focus {
    border-color: #9ed0e1 !important;
}
/*END*/
#block_author-rcl .frnd_offer {
    display: inline-block;
}
#block_author-rcl .frnd_actions_bttn > a {
    margin: 0;
}
.frnd_subtitle {
    font-size: 16px;
    font-weight: bold;
    margin: 18px 6px 0;
}