.userlist.frnd-mini-card-list .user-single {
    border: 1px solid #e2e2e2;
    box-shadow: none;
    float: left;
    margin: 6px .5%;
    min-width: 160px;
    padding: 6px;
    transition: all .3s ease-out;
    width: 13%;
}
.userlist.frnd-mini-card-list .user-single:hover {
    border-color: #2986AE;
    box-shadow: 6px 6px 12px -6px #aaa,0 0 2px 1px rgba(0, 0, 0, .1);
}
.userlist.frnd-mini-card-list .thumb-user {
    width:100%
}
.frnd_bottom {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 3px 0;
    width: 100%;
}
.frnd_bottom > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.frnd_bottom + .frnd_actions_bttn {
    margin-top: 6px;
}
.frnd-mini-card-list .frnd_actions_bttn {
    border-top: 1px solid #e2e2e2;
    display: flex;
    padding: 6px 0 0;
    width: 100%;
}
.frnd-mini-card-list .user-single:hover .frnd_actions_bttn {
    border-top-color: orange;
}
.userlist.frnd-mini-card-list .frnd_actions_bttn > a {
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
}
@media screen and (max-width:480px) {
    .userlist.frnd-mini-card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .userlist.frnd-mini-card-list .user-single {
        width: 49%;
    }
}
